[package]
name = "sim2d"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
ash = "0.38.0"
clap = "4.5.53"
demo_vk = { git = "https://github.com/Creative-Coding-The-Hard-Way/demo-vk.git" }
glfw = "0.60.0"
